<!DOCTYPE html>
<html lang="en">
<!-- Add Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Add jQuery, Popper.js, and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>BookMark Brain</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body onload="pageLoaded()">
    <script src="{{ url_for('static', filename='wordcloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    {% include 'nav.html' %}
    </header>
    {% block content %}
    {% endblock %}

</body>
</html>